<%- include("./components/header.ejs") %>

<div class="content">
    Password reset token below:
    <p><%= token %></p>
    <span>token will expire in 2 hours</span>
</div>

<%- include("./components/footer.ejs") %>
